<h1>Users</h1>

<% if @users.any? %>
  <table class="table">
    <thead>
      <tr>
        <th>E-mail</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td><%= user.role %></td>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <td><%= link_to 'Delete', user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'New', new_user_path %>
<% else %>
  No users
<% end %>
